.letter
{
  margin : 10px;
  padding : 10px;
  border-color: gray;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: Calibri;
  color: gray;
  font-weight: bolder;
  font-size: xx-large;
}
@keyframes appearCorrect {
  from{
    background-color: white;
    border-color: #787c7f;
    color: #787c7f;
  }
  to{
    background-color: #6ca965;
    border-color: #3c7539;
    color: white;
  }
}
.correct
{
  background-color: #6ca965;
  border-color: #3c7539;
  color: white;
  animation-name: appearCorrect;
  animation-duration: 2s;

}
@keyframes appearAlmost {
  from{
    background-color: white;
    border-color: #787c7f;
    color: #787c7f;
  }
  to{
    background-color: #c8b653;
    border-color: #a6973d;
    color: white;
  }
}
.almost
{
  background-color: #c8b653;
  border-color: #a6973d;
  color: white;
  animation-name: appearAlmost;
  animation-duration: 2s;
}
.nope
{
  background-color: white;
}
